# DB
POSTGRES_USER=app_user
POSTGRES_PASSWORD=password
# TOKENS
SECRET_KEY=secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=10
REFRESH_TOKEN_EXPIRE_DAYS=30
VERIFICATION_EMAIL_TOKEN_HOURS=24
# EMAIL
FROM_EMAIL=example@gmail.com
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret
GOOGLE_REFRESH_TOKEN=refresh_token
# STRIPE
STRIPE_SECRET_KEY=stripe_key